* {
  padding:0 auto;
  margin:0 auto;

}


body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: #ff0057 #00000000;
}

*::-webkit-scrollbar {
  width: 1px;   
  height: 1px; 
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(90deg, #ff0057, #ff7e00);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(180deg, #ff0057, #ff7e00);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover:horizontal {
  background: linear-gradient(90deg, #ff7e00, #ff0057);
}

*::-webkit-scrollbar-thumb:hover:vertical {
  background: linear-gradient(180deg, #ff7e00, #ff0057);
}



.updates-strip {
  overflow-x: hidden;
  animation: wiggle 10s ease-in-out infinite;
}

@keyframes wiggle {
  0%, 100% {
    right:20vw;
  }
  50% {
    right:30vw;
  }
}


.star {
  animation: fikerr 5s ease-in-out infinite;
}

@keyframes fikerr {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}



@keyframes bounce {
  0%, 100% {
    transform: translateY(-2px);
  }
  50% {
    transform: none;
  }
}

/* Custom scrollbar for dark theme */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;  /* narrower scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background:transparent; /* dark background for track */
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a91e266; /* blue thumb */
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #0044ff; /* darker blue on hover */
}

/* Firefox scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1974dd64 #1f1f1f00;
}
